<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Think Lab Project</title>
        <link rel = "stylesheet" href = "/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!--   ---     ---  HEADER CONTENT   ---     ---  -->
        <header>
          <div class="navbar">
            <div class="logo"><a href="/index.htm">Resilitech</a></div>
            <ul class="paths">
              <li><a href = "/components/threats.htm">Threats</a></li>
              <li><a href = "/components/materials.htm">Materials</a></li>
              <li><a href = "/components/techniques.html">Techniques</a></li>
              <li><a href = "/components/conclusion.htm">Conclusion</a></li>
              <li><a href = "/components/credits.htm">Credits</a></li>
            </ul>
              <i class="fa fa-bars" aria-hidden="true" id="bars" onclick="openWrapper()"></i>
              <ion-icon name="close" class="icon-close" onclick="closeWrapper()"></ion-icon>
          </div>
        </header>
        <div class="wrapper">
          <div class="wrapper-a">
            <li><a href="/index.htm">Home</a></li>
            <li><a href = "/components/threats.htm">Threats</a></li>
            <li><a href = "/components/materials.htm">Materials</a></li>
            <li><a href = "/components/techniques.html">Techniques</a></li>
            <li><a href = "/components/conclusion.htm">Conclusion</a></li>
            <li><a href = "/components/credits.htm">Credits</a></li>
          </div>
        </div>
        <div class="intro">
            <div class="title">Structural Techniques</div>
            <p>
              ◆ Base isolation:
In order to reduce the transmission of seismic forces, base
isolation requires putting a structure on adaptable supports that
disconnect it from the ground. This method greatly increases a
building's capacity to resist earthquakes.
            </p>
            <p>◆ Passive damping:
Installing equipment within structures, such as tuned mass
dampers or viscous dampers, can absorb and distribute energy
during seismic occurrences, limiting structural vibrations and
damage.
            </p>
            <p>
◆ Resilient building envelopes:
Using flexible, impact-resistant materials for roofs, walls, and
windows helps protect structures during hurricanes and storms
from strong winds, debris impact, and water infiltration.
            </p>
            <p>
              Advanced Monitoring and Early Warning Systems:
Integrating modern monitoring technology such as sensors, real-time
data processing, and early warning systems enhances structural
resilience. These technologies can identify structural flaws, monitor
environmental conditions, and send out timely warnings to evacuate or
take preventive steps before a calamity occurs.
            </p>
            <p>
              ➔ Regulatory Measures and Codes
Governments and regulatory agencies play an important role in
encouraging the use of resilient building materials and practices.
Building codes that promote disaster resilience are implemented and
enforced to ensure that structures are built to resist probable dangers.
            </p>
        </div>
        <noscript>You will need to enable Javascript to view this page</noscript>
        <script src = "./main.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script>
          const wrapper = document.querySelector(".wrapper");
const barsIcon = document.querySelector("#bars");
const closeIcon = document.querySelector(".icon-close");



function openWrapper() {
  wrapper.style.display = "flex";
  closeIcon.style.display = "flex";
  barsIcon.style.display = "none";
}

function closeWrapper() {
  wrapper.style.display = "none"
  closeIcon.style.display = "none"
  barsIcon.style.display = "flex"
}




function resizeWindow() {
    wrapper.style.display = "none"
    closeIcon.style.display = "none"
    barsIcon.style.display = "flex"
    const windowWidth = window.innerWidth;
  
      if (windowWidth >= 992) {
          barsIcon.style.display = 'none';
      } else {
          barsIcon.style.display = 'flex';
      }
  }
        </script>
    </body> 
</html>
