<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Think Lab Project</title>
        <link rel = "stylesheet" href = "/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!--   ---     ---  HEADER CONTENT   ---     ---  -->
        <header>
          <div class="navbar">
            <div class="logo"><a href="/index.htm">Resilitech</a></div>
            <ul class="paths">
              <li><a href = "/components/threats.htm">Threats</a></li>
              <li><a href = "/components/materials.htm">Materials</a></li>
              <li><a href = "/components/techniques.html">Techniques</a></li>
              <li><a href = "/components/conclusion.htm">Conclusion</a></li>
              <li><a href = "/components/credits.htm">Credits</a></li>
            </ul>
              <i class="fa fa-bars" aria-hidden="true" id="bars" onclick="openWrapper()"></i>
              <ion-icon name="close" class="icon-close" onclick="closeWrapper()"></ion-icon>
          </div>
        </header>
        <div class="wrapper">
          <div class="wrapper-a">
            <li><a href="/index.htm">Home</a></li>
            <li><a href = "/components/threats.htm">Threats</a></li>
            <li><a href = "/components/materials.htm">Materials</a></li>
            <li><a href = "/components/techniques.html">Techniques</a></li>
            <li><a href = "/components/conclusion.htm">Conclusion</a></li>
            <li><a href = "/components/credits.htm">Credits</a></li>
          </div>
        </div>
        <div class="intro">
          <div class="title">Understanding The Threat</div>
          <p>Understanding the distinct hazards that various natural
            catastrophes represent is crucial for the development of
            successful strategies. Every disaster has distinct characteristics
            that call for specialized strategies. For instance, storms require
            precautions to withstand high wind speeds and prevent structural
            failure, whereas earthquakes demand resources and techniques
            that absorb and disperse seismic energy.</p>
      </div>
        <noscript>You will need to enable Javascript to view this page</noscript>
        <script src = "./main.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script>
          const wrapper = document.querySelector(".wrapper");
const barsIcon = document.querySelector("#bars");
const closeIcon = document.querySelector(".icon-close");



function openWrapper() {
  wrapper.style.display = "flex";
  closeIcon.style.display = "flex";
  barsIcon.style.display = "none";
}

function closeWrapper() {
  wrapper.style.display = "none"
  closeIcon.style.display = "none"
  barsIcon.style.display = "flex"
}




function resizeWindow() {
    wrapper.style.display = "none"
    closeIcon.style.display = "none"
    barsIcon.style.display = "flex"
    const windowWidth = window.innerWidth;
  
      if (windowWidth >= 992) {
          barsIcon.style.display = 'none';
      } else {
          barsIcon.style.display = 'flex';
      }
  }
        </script>
    </body> 
</html>
